<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">


<title>Cadastro e pesquisa de referencias</title>

</head>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menuAluno">Aluno<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a id="CadastarMenuAluno" href="../cadastroAluno">Cadastar</a></li>
                    <li><a id="BuscarMenuAluno"  href="../pesquisaAluno">Buscar</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menuProfessor">Professor<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a id="CadastarMenuProfessor"  href="../cadastroProfessor">Cadastrar</a></li>
                    <li><a id="BuscarMenuProfessor"  href="../pesquisaProfessor">Buscar</a></li>
                </ul>
            </li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Disciplina<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a id="CadastarMenuDisciplina"  href="pesquisaByLivro">Cadastrar</a></li>
                    <li><a id="BuscarMenuDisciplina"  href="pesquisaByAssunto">Buscar</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>