<!DOCTYPE html>
<html lang="pt-br">

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/ref.css" rel="stylesheet"> 

<% include ./header %>
<body ng-app="">
    <div class="container">
        <div class="panel panel-app">
            <div class="panel-heading">Pesquisa de Professores</div>
                <div class="panel-body">
                    <div class="row">
                    <form role="form">
                        <div class="form-group">
                            <div class="col-lg-4">
                                <label>Nome</label>
                                <input id="nomeProfessor" class="form-control" maxlength="100">
                            </div>
                            <div class="col-lg-4">
                                <label>Data de Nascimento</label>
                                <input id="datanascimentoProfessor" class="form-control" type="date">
                            </div>
                            <div class="col-lg-4">
                                <label>Sexo</label>
                                <select id="sexoProfessor"  class="dropdown form-control">
                                    <option id="Selecione" value="s" >Selecione</option>
                                    <option id="Masculino" value="m" >Masculino</option>
                                    <option id="Feminino"value="f" >Feminino</option>
                                </select>
                            </div>
                        </div>
                    </div>
                <br>
                <button type="button" class="btn btn-lg btn-default" id="consultar" onclick="professor.pesquisa()">Pesquisar</button>
                </form>
            </div>
        </div>
    </div>
    <div id="containerResult" class="container" style="display:none">
        <div class="panel panel-app">
            <div class="panel-heading">Pesquisa de Professores</div>
                <div class="panel-body">
                    <ul id="ListaResult">
                    </ul>   
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" id="resultProfessor">
                </div>
            </div>
    </div>
    </div>
    
</body>
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/professor.js"></script>
</html>
